<h2>Hi <%= @visitor.username %>, welcome to your profile page.</h2>
<p>You've been to the <%= @visitor.countrys.all.size %> country(s) listed below. We've also displayed the cities you've been to in each country.</p>
<ul>
  <% @visitor.countrys.all.each do |country| %>
  <li><%= country.name %></li>
  <% end %>
</ul>
<a href="/visitor/<%=@visitor.id%>/edit_countries">Add/Edit Countries</a><br></br>
<a href="/visitor/<%=@visitor.id%>/edit_cities">Add/Edit Cities</a>
